/*single changes*/
 
.post-page{
    font-family: "merriweatherregular";
    font-size: 22px;
    width: 96%;
    margin: -100px auto 0;
    border-top: 4px solid ;
    padding-top: 38px;
    background-color: #fff;
    position: relative;
        box-shadow: 0 0 22px -2px rgba(10, 20, 20, 0.26);
}

.sidebar-container{
        margin: 0 2px;
    position: relative;
}

.sidebar-single{
    padding-right: 10px !important;
    padding-left: 10px !important;
}


.container-custom{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-container .most-popular .list-popular {
    padding: 14px 16px 25px;
    padding-right: 16px;
    height: 618px;
}

.sidebar-container .most-popular .rotator-first .loop-rotator {
    width: 100%;
    height: 165px;
}

.sidebar-single .most-popular .rotator-first .looprotator-metas {
    top: 20px;
    left: 20px;
    width: 87%;
    height: 125px;
    line-height: 125px;}

   .sidebar-single .most-popular .rotator-second .looprotator-img {
    width: 103px;
    height: 76px;
}

.sidebar-single .most-popular .rotator-second .looprotator-metas {
    width: 58%;
    height: 76px;
}
.sidebar-single .most-popular .rotator-second .title-loop a {
    font-size: 14px;
    line-height: 16px;}

.sidebar-single .most-popular .loop-popular+.loop-popular {
    margin-top: 20px;
}

.main-container-single{
        margin: 0 14px 0 0;
}

.container-article{
    position: relative;
}


.left-content{

width: 13%;
    margin-right: 20px;
    float: left;
    position: absolute;
    -webkit-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    top: auto;

}

.center-content{
    width: 84%;
    margin-left: 18%;
}

.back-photo h2 {
    font-size: 5vw;
    position: absolute;
    top: 32%;
    left: 23%;
    color: black;
    font-weight: 800;
}

.back-photo hr{
  position: relative;
  top:30%;
  border:3px solid;
}

/*single changes*/











/*Animation*/
.big{
  position: relative;
  /*background: url(cover11.jpg);
   background-size: auto 600px;
   background-position:center;
  */ background-attachment: fixed;
  overflow: hidden;

}

.logo
{

  height: 100px;
  width: 100%;
  background: url(PING-2.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 7%;
  top: 27%;
  margin-top: -50px;
}

.back-photo{
  height: 600px;
  background: url(cover11.jpg);
   background-position: center;
   background-size: auto 600px;
  overflow: hidden;
  background-attachment: fixed;
}



/*  Animations
------------------------------------------ */

.back-photo {
  -webkit-animation: bg-move 6s ease-out forwards;
}
.logo {
  -webkit-animation: rock-boat 4s ease-in-out forwards;
}

.titlu {
 -webkit-animation: text 4s ease-in-out forwards; 
}

.back-photo hr {
 -webkit-animation: texts 4s ease-in-out forwards; 
}

/*  Keyframes - WebKit only
------------------------------------------ */

@-webkit-keyframes rock-boat {
  50%  { -webkit-transform: rotate(30deg) translateY(-2px); }
  100%  { -webkit-transform: rotate(22deg) translateY(-2px); }
}

@-webkit-keyframes bg-move {
  0%   { background-position:    -800px  60px; }
  100% { background-position: -200px 0px; }
}

@-webkit-keyframes text{
  0%   { opacity: 0.2 ;  top: -200px; }
  70% { opacity: 1;  top: 33%}
}

@-webkit-keyframes texts{
  0%   { opacity: 0.5 ; left: -2000px }
  100% { opacity: 1; left:0;}
}




/*Mobile*/

@media screen and (max-width: 768px){

 .post-page{
    width: 95%;
    margin: -45px auto 20px;
    font-family: "merriweatherregular";
    font-size: 16px;
    line-height: 1.3;
    padding-top: 10px;
 }

.content-single-xs{
  padding-left: 5px !important; 
  padding-right: 5px !important;
}

.main-container-single{
  margin: 0 !important;
}

 .center-content{
    width: 103%;
    margin-left: 0 !important;
 }

.back-photo {
    height: 250px;
    background: url(cover11.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}
.back-photo h2 {
    font-size: 28px;
    position: absolute;
    top: 32%;
    left: 7%;
    color: black;
    font-weight: 800;
}
.logo {
    height: 100px;
    width: 100%;
    background: url(PING-2.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 29%;
    top: 27%;
    margin-top: -50px;
}
.back-photo{
  background-size: 759px;
}
}


/*Mobile*/








